<h1>The users: Site#index</h1>

<div class="three columns">
  <p>
   <%= link_to "Register", new_user_path %>
  </p>
</div>

<div class="nine columns">
  <table class="table">
      <thead><tr><th>E-mail:</th><th>Created</th><th>Updated</th><th>ID</th><th>Delete</th><th>Edit</th></tr></thead>
      <tbody>
      <% @users.each do |user| %>
      <!-- for each user, create table row and cell -->
        <tr>
          <td><%= link_to user.email, user %></td>
          <td><%= time_ago_in_words(user.created_at) %></td>
          <td><%= time_ago_in_words(user.updated_at) %></td>
          <td><%= user.id %></td>
          <td>
            <%= link_to "delete", user, method: :delete, confirm: "Are you sure?" %>
          </td>
          <td>
            <%= link_to "edit", edit_user_path(user) %>
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
<!-- Today is <%= Time.now.strftime('%A') %>.
 -->
